body {
  margin: 0;
}

.map {
  height: 100vh;
  width: 100vw;
}

.btn {
  border-radius: 3px;
  border: 0;
  outline: none;
  background: #000;
  color: #fff;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.text {
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.8rem;
  color: #000;
  margin: 0;
}

.text_title {
  float: left;
  margin-right: 5px;
  font-weight: 700;
}

.weather {
  position: fixed;
  left: 10px;
  top: 10px;
  min-height: 160px;
  width: 150px;
  padding: 10px;
  border-radius: 1.5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  z-index: 10;
}

.weather__icon {
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.weather__head {
  display: flex;
  flex-direction: row;
}

.weather__main {
  margin-left: 20px;
}

.weather__temp {
  font-size: 1.4rem;
}

.sky {
  font-size: 1.2rem;
}

.updatable {
  transition: opacity 0.5s;
}

.transparent {
  opacity: 0;
}
